@import '_vars.scss';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
html {
  background-color: $text_color;
  color: $text-color;
  font-family: $font_main;
  font-size: 10px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  background: white;
  font-size: $font-size;
  line-height: $line-height;
  min-height: 100vh;
  padding-bottom: 49px;

  @media screen and (min-width: 62.5rem) {
    font-size: calc(#{$font-size - 0.5} + 0.5vw);
  }
}

p {
  margin-bottom: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

h1, .h1, h2, h3, h4, h5, h6 {
  font-family: $font_head;
  font-weight: $weight_head;
  color: $headline-color;
}

h1, .h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
}

hr {
  display: block;
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid #666666;
  padding: 0;
  width: 7rem;
  margin: $section-break auto;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn {
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  display: inline-block;
  font-family: $font_head;
  font-size: 0.9em;
  font-weight: $weight_head;
  padding: 1.5rem 3.5rem 1.2rem;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    background-color: #3b8070;
    box-shadow: inset -1px 1px 4px -1px rgba(0,0,0,0.4);
    color: #fff;
    transform: translateY(2px);
  }
}

.lead {
  font-size: 1.2em;
  font-weight: bold;
}

@include bp(sm) {
  body {
    padding-bottom: 0;
  }
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@include bp(md) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.hidden {
  overflow: hidden;
  max-height: 0;
  max-width: 0;
}
