@import '_vars.scss';

html {
  color: $text-color;
  font-family: $font_main;
  font-size: 10px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}
body {
  font-size: $font-size;
  line-height: 1.6;
  margin-bottom: 9rem;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_head;
  font-weight: 500;
}
h1 {
  line-height: 1.2;
  margin-bottom: 0.1em;
}

hr {
  display: block;
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid #666666;
  padding: 0;
  width: 7rem;
  margin: $section-break auto;
}

.container {
  margin: 0 1.5rem;
}

@media screen and (min-width: 426px) {
  .container {
    margin-left: calc(2.5rem + 70px);
    margin-right: 2.5rem;
  }
}
