/*
  Colors
*/

$primary: hsl(178, 39%, 36%);
$meta-color: #555566;
$text-color: #3b3a36;
$headline-color: darken($text-color, 15%);


/*
  Typography
*/

$font_main: "ff-tisa-web-pro", Palatino, Georgia, serif;
$font_head: soleil, "Helvetica Neue", Arial, sans-serif;
$font-size: 1.6em;
$line-height: 1.6;
$weight_head: 600;


/*
  Spacing
*/

$section-break: 5rem;
$text-width: 75rem;


/*
  Mixins
*/

/* Breakpoints */
@mixin bp($point:'') {
  @if $point == sm {
    @media screen and (min-width: 26rem) { @content; }
  }
  @else if $point == md {
    @media screen and (min-width: 45rem)  { @content; }
  }
  @else {
    @media screen { @content; }
  }
}

/* Button - Gradient */
@mixin btn-gradient($size, $left, $right) {
  border-width: 0 $size;
  border-style: solid;
  border-left-color: $left;
  border-right-color: $right;
  background-image:
    linear-gradient(135deg, $left, $right),
    linear-gradient(135deg, $left, $right);
  background-size: 100% $size;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;

  span {
    background: -webkit-linear-gradient(45deg, $left, $right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:active {
    background: linear-gradient(135deg, $left, $right);
  }
  &:active span {
    background: none;
    -webkit-text-fill-color: #fff;
  }
}

