/*
  Colors
*/

$primary: hsl(178, 39%, 47%);
$meta-color: #555566;
$text-color: #3b3a36;


/*
  Typography
*/

$font_main: "ff-tisa-web-pro", Palatino, Georgia, serif;
$font_head: "brandon-grotesque", "Helvetica Neue", Arial, sans-serif;
$font-size: 1.6em;


/*
  Spacing
*/

$section-break: 5rem;
$text-width: 75rem;


/*
  Breakpoints
*/

@mixin bp($point:'') {

  @if $point == sm {
    @media screen and (min-width: 426px) { @content; }
  }
  @else if $point == md {
    @media screen and (min-width: 720px)  { @content; }
  }
  @else {
    @media screen { @content; }
  }
}

